<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <style>
        /* Style for better presentation */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h2 {
            margin-bottom: 10px;
        }
        select {
            padding: 5px;
            font-size: 16px;
        }
        p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <form action= {{url_for('calculated_data')}}  method= "POST">
        <h2>Select a Task:</h2>
        <select name="task_name" id="task_name">
            {% for i in tasks %}
                <option value="{{ i.task_name }}">{{ i.task_name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
